################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UserAPI/FileContentIndex
bin/
obj/
/.vs/UserService/FileContentIndex
